/* font-family: 'Tinos', serif; */

/* font-family: 'Libre Franklin', sans-serif; */

/* font-family: 'Domine', serif; */

html body {
  margin: 0;
  padding-top: 0;
}

/*HEADER STYLES*/

header {
  width: 100%;
  height: 78px;
  position: fixed;
  background: cyan;
  display: block;
  top: 0;
}

#top-container {
  background: pink;
  width: 1389px;
  height: 36px;
  display: block;
  padding: 4px 15px 2px 15px;
  line-height: 1.5px;
}

#left-buttons {
  background: yellow;
  width: 76px;
  height: 33px;
  padding: 0px 0px 0px 10px;
}

#header-bars-icon {
  background: black;
  width: 14px;
  height: 12px;
  /* padding-top: 5px;
padding-left: 20px;
padding-right: 1387px;
position: absolute;
display: inline-block; */
}

#search-icon {}

#section-name {
  background: green;
  width: 126.953px;
  height: 20px;
  display: block;
  position: absolute;
  left: 105px;
  line-height: 19px;
  top: 10px;
  font-size: 14.25px;
}

#logo {
  background: orange;
  width: 1389px;
  height: 26px;
  text-align: center;
  display: inline-block;
}

#logo-svg {
  width: 195px;
  height: 26.484px;
  /* display: flex; */
  position: absolute;
  /* justify-content: space-around; */
}

#right-buttons{
  background: gray;
  width: 196.656px;
  height: 32px;
  display: flex;
  right:10px;
  position: absolute;
}

#subscribe {
  /* background: blueviolet; */
  width: 119.250px;
  height: 32px;
  margin-right: 7px;
  display: inline-block;
  background-color: rgb(50, 104, 145);
  text-decoration: none;
  /* color: #FFFFFF; */
  font-size: 11px;
}

#log-in {
  /* background: red; */
  width: 63.406px;
  height: 32px;
  margin-right: 7px;
  display: inline-block;
  background-color: rgb(50, 104, 145);
  /* color:#FFFFFF; */
  font-size:11px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color:#FFFFFF; 
}

/*ARTICLE STYLES*/

#main-article {
  width: 1200px;
  height: 2000px;
  background: gray;
  margin-left: auto;
  margin-right: auto;
}

.image1 img {
  width: 100%;
  height: 675px;
}

.image1-caption {
  padding-right: 30%;
}

.content-article {
  width: 630px;
  height: auto;
  background: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}

.head-date-name {
  float: left;
  background: yellow;
}

#name {}

#date {}

#head-icons {
  float: right;
  background-color: #fff;
  vertical-align: baseline;
}

.paragraph p {
  clear: both;
}

/* .img-text {
  background-image: url('https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-720.png');
  background-image: url("/images/inflation-720.png");
  background-size: cover;
  width: 630px;
  height: 600px;
  background: green;
  position: absolute; 
} */

#image2 {
  width: 630px;
}

.desc-column {
  display: inline-flex;
}

#line div {
  position: relative;
  top: -450px;
  left: 0;
  /* display: inline-flex; */
  width: 23%;
  margin: auto;
  font-size: 10px;
}