body{
    margin:0;
    padding: 0;
}
.navbar {
	height: 42px;
	padding: 4px 15px 2px 15px;
	background-color: ;
	border-bottom: 2px solid #c6c6c6;
}

i{
	padding: 8px 9px 9px 9px;
	width: 16px;
}

.logo {
	display: inline-block;
	position: absolute;
    top: 6px; 
    right: 0; bottom: 0; left: 0;
	margin: 0 auto;
}

.navbar button {
	float: right;
	background-color: #326891;
    border: 0.3px solid #333333;
	color: #fff;
	font-size: 11px;
	font-weight: 700;
	padding: 10px;
	border-radius: 3px;
    margin-right: 5px;
    top:4px;
    margin-right:5px;

}

.section{
    display: inline-block;
    color:black;
}

a:visited{
    color:black;
}